:root {
    --blue: #34568B;
    --light-blue: #92A8D1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 2.4rem;
}

img {
    height: 2rem;
    margin-right: 0.8rem;
}

h2 {
    margin: 0.8rem 0 0 2.4rem;
    display: flex;
    align-items: center;
}

h2 span {
    margin-right: 0.8rem;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--light-blue);
}